<h1>Create an Event</h1>

<form class="form-horizontal">
  <div class="control-group">
    <label for="event_title" class="control-label">Title</label>
    <div class="controls">
      <input
        type="text"
        id="event_title"
        name="event[title]"
        value="<%= event.escape('title') %>">
    </div>
  </div>
    
  <div class="control-group">
    <label for="event_start_time" class="control-label">Start Time</label>
    <div class="controls date">
      <input
        type="text"
        class="datepicker"
        name="event[start_time]"
        id="event_start_time"
        value="<%= event.escape('start_time') %>">
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
  </div>
  
  <div class="control-group">
    <label for="event_end_time" class="control-label">End Time</label>
    <div class="controls date">
      <input
        type="text"
        name="event[end_time]"
        id="event_end_time"
        value="<%= event.escape('end_time') %>">
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
  </div>
  
  <input
    type="hidden"
    name="event[venue_id]"
    id="event_venue_id"
    value="<%= event.escape('venue_id') %>">
  
  <div class="control-group">
    <div class="controls">
      <button class="btn" id="choose_venue">Choose Venue</button>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn">
    </div>
  </div>
</form>

<script>
  $('.date').datetimepicker({
    format: 'yyyy-MM-dd hh:mm',
    pickSeconds: false
  });
</script>