<form class="form-horizontal">
  <div class="control-group">
    <label for="event_title" class="control-label">Title</label>
    <div class="controls">
      <input
        type="text"
        id="event_title"
        name="event[title]"
        value="<%= event.escape('title') %>">
    </div>
  </div>
    
  <div class="control-group">
    <label for="event_start_time" class="control-label">Start Time</label>
    <div class="controls">
      <input
        type="text"
        class="datepicker"
        name="event[start_time]"
        id="event_start_time"
        data-date-format="yyyy-mm-dd">
    </div>
  </div>
  
  <div class="control-group">
    <label for="event_end_time" class="control-label">Start Time</label>
    <div class="controls">
      <input
        type="text"
        class="datepicker"
        name="event[end_time]"
        id="event_end_time"
        data-date-format="yyyy-mm-dd">
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <input type="submit">
    </div>
  </div>
</form>

<script>
  $('.datepicker').datepicker();
</script>