<div id="content">
</div>


<script>
  $(document).ready(function(){
    console.log('event page js is happening');
    
    <% if @user %>
      
    
      Project2.Store.events = new Project2.Collections.Events;
      Project2.Store.events.url = "/api/users/<%= @user.id %>/events";
      new Project2.Routers.Events({
        $rootEl: $("#content"),
        collection: Project2.Store.events
      });
    <% else %>
      Project2.Store.events = new Project2.Collections.Events;
      
      new Project2.Routers.Events({
        $rootEl: $("#content"),
        collection: Project2.Store.events
      });
    <% end %>
    
    Backbone.history.start();
  })
</script>